#pragma once

#include <string>

namespace scraper {

    class Config {

    public:

        /// General
        int loop_interval;
        bool dev_mode;

        /// API
        std::string api_url;
        std::string api_token;

        /// slack
        std::string slack_token;
        std::string slack_channel;
        std::string slack_username;

        Config() {

            loop_interval = 1800; //in miliseconds

            api_url = "";
            api_token = "";

            slack_token = "";
            slack_channel = "";
            slack_username = "";

        }

    };

}